{% extends "layout.njk" %}
{% block content %}
<div class="albums-grid">
    {% for album in albumsToDisplay %}
    <div class="album-container">
        <div class="album-image">
           <a href="/album/{{ album.id | safe }}"><img src="{{album.images[0].url | safe }}" alt="{{ artist.name | safe}}"></a>
        </div>
        <div class="album-info">
            <p>{{ album.name }}</p>
            <p>{{ album.total_tracks }}</p>
        </div>
    </div>
    {% else %}
        <h2>Album not found!</h2>
    {% endfor %}
</div>
{% endblock %}