{% extends "layout.njk" %}
{% block content %}
<div class="artist-grid">
    {% for artist in artistsToDisplay %}
    <div class="artist-container">
        <div class="artist-image">
           <a href="/artist/{{ artist.id | safe }}"><img src="{{artist.images[0].url | safe }}" alt="{{ artist.name | safe}}"></a>
        </div>
        <div class="artist-info">
            <p>{{ artist.name }}</p>
        </div>
    </div>
    {% else %}
        <h2>Artist not found!</h2>
    {% endfor %}
</div>
{% endblock %}