<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/32f374c92f.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/spotifyapp/stylesheets/mobile.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Marvel:wght@400;700&family=Raleway:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <title>Spotify Finder App</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/spotifyapp"><i class="fab fa-spotify"></i></a>
        <p>Spotify Finder App</p>
      </div>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer>
      <div class="location">
        <p><span id="city"></span> <span id="country"></span></p>
      </div>
      <div class="social">
        <div class="icon">
          <a href="https://github.com/gustavosanchezgalarza"><i class="fab fa-github"></i></a>
        </div>
        <div class="icon">
          <a href="https://twitter.com/gusanchedev"><i class="fab fa-twitter"></i></a>
        </div>
        <div class="icon">
          <a href="https://www.linkedin.com/in/gustavosanchezgdev/"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </footer>
  </body>
