.artist-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.albums-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.tracks-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}